<a href="https://colab.research.google.com/github/lukk1ane/DataScience2025/blob/giorgi_kezevadze/DS_Pandas_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [3]:
import pandas as pd

data = [10,20,30,40,50]
index_labels = ['a','b','c','d','e']
series = pd.Series(data, index = index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

Task 2

In [5]:
data_ = [100,200,300,400,500]
series_ = pd.Series(data_, index = index_labels)

second_element = series_.iloc[2]
print(second_element)

example_by_label = series_['d']
print(example_by_label)

300
400

Task 3

In [7]:
series1 = pd.Series([5,10,15,20], index = ['w','x','y','z'])
series2 = pd.Series([2,4,6,8], index = ['w','x','y','p'])

add_result = series1.add(series2, fill_value = 0)
sub_result = series1.sub(series2, fill_value = 0)
mul_result = series1.mul(series2, fill_value = 0)
div_result = series1.div(series2, fill_value = 0)

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)

p     8.0
w     7.0
x    14.0
y    21.0
z    20.0
dtype: float64
p    -8.0
w     3.0
x     6.0
y     9.0
z    20.0
dtype: float64
p     0.0
w    10.0
x    40.0
y    90.0
z     0.0
dtype: float64
p    0.0
w    2.5
x    2.5
y    2.5
z    inf
dtype: float64

Task 4

In [9]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David','Giorgi'],
    'Age': [25, 30, 35, 40, 20],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Tbilisi']
}

df = pd.DataFrame(data)

first_3_rows = df.head(3)
print(first_3_rows)
print()

last_2_rows = df.tail(2)
print(last_2_rows)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

     Name  Age     City
3   David   40  Chicago
4  Giorgi   20  Tbilisi

Task 5

In [14]:
series = pd.Series([15,22,15,30,22,45,30,15], index = ['a','b','c','d','e','f','g','h'])
unique_values = series.nunique()
frequencies = series.value_counts()
print(unique_values)
print(frequencies)

4
15    3
22    2
30    2
45    1
Name: count, dtype: int64

Task 6

In [15]:
data = {
    'Item' : ['apple','banana','peach','orange','mango'],
    'Cost' : [1,2,3,4,5]
}

df = pd.DataFrame(data)
df['Tax'] = df['Cost'] * 0.1
df['Total'] = df['Cost'] + df['Tax']
print(df)

     Item  Cost  Tax  Total
0   apple     1  0.1    1.1
1  banana     2  0.2    2.2
2   peach     3  0.3    3.3
3  orange     4  0.4    4.4
4   mango     5  0.5    5.5

Task 7

In [18]:
data = {
    'Product': ['Laptop', 'Smartphone', 'Headphones', 'Monitor', 'Keyboard', 'Mouse', 'Printer', 'Webcam'],
    'Category': ['Electronics', 'Electronics', 'Accessories', 'Electronics', 'Accessories', 'Accessories', 'Office', 'Accessories'],
    'Price': [1200, 800, 150, 300, 50, 30, 200, 90],
    'Stock': [10, 25, 50, 15, 60, 80, 12, 40]
}

df = pd.DataFrame(data)
print(df.isnull())
print(df.notnull())
print(df['Category'].value_counts())
print(df.nlargest(3, 'Price')[['Product', 'Price']])
print(df.nsmallest(2,'Price')[['Product', 'Price']])
print(df.shape)
print(df.ndim)

   Product  Category  Price  Stock
0    False     False  False  False
1    False     False  False  False
2    False     False  False  False
3    False     False  False  False
4    False     False  False  False
5    False     False  False  False
6    False     False  False  False
7    False     False  False  False
   Product  Category  Price  Stock
0     True      True   True   True
1     True      True   True   True
2     True      True   True   True
3     True      True   True   True
4     True      True   True   True
5     True      True   True   True
6     True      True   True   True
7     True      True   True   True
Category
Accessories    4
Electronics    3
Office         1
Name: count, dtype: int64
      Product  Price
0      Laptop   1200
1  Smartphone    800
3     Monitor    300
    Product  Price
5     Mouse     30
4  Keyboard     50
(8, 4)
2

Task 8

In [34]:
data = {
    'Student': ['Alice', 'Alice', 'Charlie', 'Diana', 'Bob', 'Fiona', 'George', 'Bob', 'Ian', 'Julia'],
    'Subject': ['Math', 'Science', 'English', 'Math', 'History', 'Science', 'English', 'History', 'Math', 'Science'],
    'Score': [88, 92, 79, 85, 90, 95, 70, 82, 89, 94],
    'Attendance': [95, 88, 90, 92, 97, 99, 85, 93, 91, 96]
}

df = pd.DataFrame(data)

print(df[df.duplicated('Student')]['Student'])
print()

df = df.drop_duplicates(subset = 'Student')

print(df)
print()

df.set_index('Student', inplace = True)
print(df.loc['Alice'])
print()

print(df.iloc[0:3])
print()

print(df.query('Score > 80 and Attendance > 85'))
print()

print(df[df['Score'].between(70, 90)])

1    Alice
7      Bob
Name: Student, dtype: object

   Student  Subject  Score  Attendance
0    Alice     Math     88          95
2  Charlie  English     79          90
3    Diana     Math     85          92
4      Bob  History     90          97
5    Fiona  Science     95          99
6   George  English     70          85
8      Ian     Math     89          91
9    Julia  Science     94          96

Subject       Math
Score           88
Attendance      95
Name: Alice, dtype: object

         Subject  Score  Attendance
Student
Alice       Math     88          95
Charlie  English     79          90
Diana       Math     85          92

         Subject  Score  Attendance
Student
Alice       Math     88          95
Diana       Math     85          92
Bob      History     90          97
Fiona    Science     95          99
Ian         Math     89          91
Julia    Science     94          96

         Subject  Score  Attendance
Student
Alice       Math     88          95
Charlie  English     79          90
Diana       Math     85          92
Bob      History     90          97
George   English     70          85
Ian         Math     89          91