In [42]:
import pandas as pd

# Task 1

In [43]:
data1 = [10, 20, 30, 40, 50]
labels1 = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data1, index=labels1)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

# Task 2

In [44]:
data2 = [100, 200, 300, 400, 500]
series2 = pd.Series(data2)

print(series2[2])

300

# Task 3

In [45]:
series3 = pd.Series([5, 10, 15, 20], index = ['w', 'x', 'y', 'z'])
series4 = pd.Series([2, 4, 6, 8], index = ['w', 'x', 'y', 'p'])

seriesadd = series3.add(series4, fill_value=0)
seriessub = series3.sub(series4, fill_value=0)
seriesmul = series3.mul(series4, fill_value=1)
seriesdiv = series3.div(series4, fill_value=1)
print(seriesadd)
print(seriessub)
print(seriesmul)
print(seriesdiv)

p     8.0
w     7.0
x    14.0
y    21.0
z    20.0
dtype: float64
p    -8.0
w     3.0
x     6.0
y     9.0
z    20.0
dtype: float64
p     8.0
w    10.0
x    40.0
y    90.0
z    20.0
dtype: float64
p     0.125
w     2.500
x     2.500
y     2.500
z    20.000
dtype: float64

# Task 4

In [46]:
data3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
labels3 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data3, index=labels3, columns=['Numbers'])

#df.head() #displayed first five
#df.head(3) #displayed first 3
#df.tail(2) #displayed last two
#df.tail(-2) #everything other than first 2
#df.head(-2) #everything other than last 2

# Task 5

In [47]:
num_series = pd.Series([15, 22, 15, 30, 22, 45, 30, 15])

num_series.unique()
unique_count = num_series.nunique()
print(unique_count)
print(num_series.value_counts())

4
15    3
22    2
30    2
45    1
Name: count, dtype: int64

# Task 6

In [48]:
items = ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones',
         'USB Cable', 'Webcam', 'Speaker', 'Tablet', 'Smartphone']
costs = [1200, 25, 80, 300, 150, 15, 90, 200, 600, 800]

item_cost = pd.DataFrame(
    {
        'Item' : items,
        'Cost' : costs
    }
)
print(item_cost)
print("=" * 60 )

item_cost['Tax'] = item_cost['Cost'] * 0.08
item_cost['Total'] = item_cost['Cost'] + item_cost['Tax']
print(item_cost)
print("=" * 60 )
print(item_cost[item_cost['Total'] > 50])

         Item  Cost
0      Laptop  1200
1       Mouse    25
2    Keyboard    80
3     Monitor   300
4  Headphones   150
5   USB Cable    15
6      Webcam    90
7     Speaker   200
8      Tablet   600
9  Smartphone   800
============================================================
         Item  Cost   Tax   Total
0      Laptop  1200  96.0  1296.0
1       Mouse    25   2.0    27.0
2    Keyboard    80   6.4    86.4
3     Monitor   300  24.0   324.0
4  Headphones   150  12.0   162.0
5   USB Cable    15   1.2    16.2
6      Webcam    90   7.2    97.2
7     Speaker   200  16.0   216.0
8      Tablet   600  48.0   648.0
9  Smartphone   800  64.0   864.0
============================================================
         Item  Cost   Tax   Total
0      Laptop  1200  96.0  1296.0
2    Keyboard    80   6.4    86.4
3     Monitor   300  24.0   324.0
4  Headphones   150  12.0   162.0
6      Webcam    90   7.2    97.2
7     Speaker   200  16.0   216.0
8      Tablet   600  48.0   648.0
9  Smartphone   800  64.0   864.0

# Task 7

In [56]:
products = ['iPhone 15', 'Samsung TV', 'Nike Shoes', None, 'Sony Headphones',
            None, 'Levi Jeans', None, 'Adidas Hoodie', 'iPad Air']# generatedd by Ai

categories = ['Electronics', 'Electronics', 'Fashion', None, 'Electronics',
              'Home Appliances', 'Fashion', None, 'Fashion', 'Electronics']# generatedd by Ai

prices = [999, 450, 120, 850, None, 80, 60, None, 45, 750]# generatedd by Ai

stock = [25, 15, 50, None, 40, None, 100, 18, None, 35] # generatedd by Ai

product_info = pd.DataFrame({
    'Product' : products,
    'Category' : categories,
    'Price' : prices,
    'Stock' : stock
})

print(product_info)
print("=" * 60 )
print(product_info.isnull())
print("=" * 60 )
print(product_info.notnull())
print("=" * 60 )
print(product_info['Category'].value_counts())
print("=" * 60 )
print(product_info['Price'].nlargest(3))
print("=" * 60 )
print(product_info['Stock'].nsmallest(2))
print("=" * 60 )
print(product_info.shape)
print(product_info.ndim)

           Product         Category  Price  Stock
0        iPhone 15      Electronics  999.0   25.0
1       Samsung TV      Electronics  450.0   15.0
2       Nike Shoes          Fashion  120.0   50.0
3             None             None  850.0    NaN
4  Sony Headphones      Electronics    NaN   40.0
5             None  Home Appliances   80.0    NaN
6       Levi Jeans          Fashion   60.0  100.0
7             None             None    NaN   18.0
8    Adidas Hoodie          Fashion   45.0    NaN
9         iPad Air      Electronics  750.0   35.0
============================================================
   Product  Category  Price  Stock
0    False     False  False  False
1    False     False  False  False
2    False     False  False  False
3     True      True  False   True
4    False     False   True  False
5     True     False  False   True
6    False     False  False  False
7     True      True   True  False
8    False     False  False   True
9    False     False  False  False
============================================================
   Product  Category  Price  Stock
0     True      True   True   True
1     True      True   True   True
2     True      True   True   True
3    False     False   True  False
4     True      True  False   True
5    False      True   True  False
6     True      True   True   True
7    False     False  False   True
8     True      True   True  False
9     True      True   True   True
============================================================
Category
Electronics        4
Fashion            3
Home Appliances    1
Name: count, dtype: int64
============================================================
0    999.0
3    850.0
9    750.0
Name: Price, dtype: float64
============================================================
1    15.0
7    18.0
Name: Stock, dtype: float64
============================================================
(10, 4)
2

# Task 8

In [62]:
students = ['Alice', 'Bob', 'Charlie', 'Alice', 'David', 'Emma', 'Bob', 'Frank',
            'Grace', 'Henry', 'Emma', 'Ivy', 'Charlie', 'Jack', 'Alice',
            'Karen', 'Bob', 'Liam', 'Emma', 'Mia']
subjects = ['Math', 'Science', 'English', 'History', 'Math', 'Science', 'English',
            'History', 'Math', 'Science', 'English', 'History', 'Math', 'Science',
            'English', 'History', 'Math', 'Science', 'English', 'History']
scores = [85, 92, 78, 88, 90, 87, 79, 84, 91, 86, 82, 89, 77, 93, 83, 81, 88, 94, 80, 87]
attendance = [90, 95, 85, 92, 88, 96, 82, 89, 93, 87, 91, 84, 86, 97, 83, 90, 94, 98, 81, 92]

student_scores = pd.DataFrame({
    'Student' : students,
    'Subject' : subjects,
    'Score' : scores,
    'Attendance' : attendance
})

print(student_scores.duplicated(subset=['Student']))

student_scores_no_duplicates = student_scores.drop_duplicates(subset=['Student'], keep='first')

student_scores_indexed = student_scores.set_index('Student')

print(student_scores_indexed.loc['Alice'])

print(student_scores_indexed.iloc[:3])

print(student_scores.query('Score > 80 and Attendance > 85'))

print(student_scores[student_scores['Score'].between(70, 90)])

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12     True
13    False
14     True
15    False
16     True
17    False
18     True
19    False
dtype: bool
         Subject  Score  Attendance
Student
Alice       Math     85          90
Alice    History     88          92
Alice    English     83          83
         Subject  Score  Attendance
Student
Alice       Math     85          90
Bob      Science     92          95
Charlie  English     78          85
   Student  Subject  Score  Attendance
0    Alice     Math     85          90
1      Bob  Science     92          95
3    Alice  History     88          92
4    David     Math     90          88
5     Emma  Science     87          96
7    Frank  History     84          89
8    Grace     Math     91          93
9    Henry  Science     86          87
10    Emma  English     82          91
13    Jack  Science     93          97
15   Karen  History     81          90
16     Bob     Math     88          94
17    Liam  Science     94          98
19     Mia  History     87          92
    Student  Subject  Score  Attendance
0     Alice     Math     85          90
2   Charlie  English     78          85
3     Alice  History     88          92
4     David     Math     90          88
5      Emma  Science     87          96
6       Bob  English     79          82
7     Frank  History     84          89
9     Henry  Science     86          87
10     Emma  English     82          91
11      Ivy  History     89          84
12  Charlie     Math     77          86
14    Alice  English     83          83
15    Karen  History     81          90
16      Bob     Math     88          94
18     Emma  English     80          81
19      Mia  History     87          92