In [71]:
""" 
Task 1
Create a Pandas Series with custom index labels. Use the data [10, 20, 30, 40, 50] and index
labels ['a', 'b', 'c', 'd', 'e'] and display it.
"""

import pandas as pd

s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [72]:
""" 
Task 2
Access the element at position 2 from a Series created from the list [100, 200, 300, 400, 500].
Also give any example of labelled indexing for that list and display it.
"""
l = [100, 200, 300, 400, 500]
s = pd.Series(l)
print(s[2])
s.index = ['A', 'B', 'C', 'D', 'E']
print(s)

300
A    100
B    200
C    300
D    400
E    500
dtype: int64

In [73]:
"""
Task 3
Create two Series: Series1 with values [5, 10, 15, 20] and index ['w', 'x', 'y', 'z'], and Series2 with
values [2, 4, 6, 8] and index ['w', 'x', 'y', 'p']. Add, Subtract, Multiply and divide these two Series
together. Handle possible NaN values.
"""

series1 = pd.Series([5,10,15,20], index=['w','x','y','z'])
series2 = pd.Series([2,4,6,8], index=['w','x','y','p'])

sum_series = (series1 + series2).fillna(0)
print(sum_series)
diference_series = (series1 - series2).fillna(0)
print(diference_series)
product_series = (series1 * series2).fillna(0)
print(product_series)
divided_series = (series1 / series2).fillna(0)
print(divided_series)

p     0.0
w     7.0
x    14.0
y    21.0
z     0.0
dtype: float64
p    0.0
w    3.0
x    6.0
y    9.0
z    0.0
dtype: float64
p     0.0
w    10.0
x    40.0
y    90.0
z     0.0
dtype: float64
p    0.0
w    2.5
x    2.5
y    2.5
z    0.0
dtype: float64

In [74]:
""" 
Task 4
Create a DataFrame with at least 5 rows and use the head() method to display the first 3 rows.
Then use the tail() method to display the last 2 rows. Also, try experimenting with the default
value and negative arguments for the these methods.
"""

df = pd.DataFrame({
    'Name': ['Ana', 'Bob', 'Nika', 'Davit', 'Eva', 'Gela'],
    'Age': [24, 30, 22, 35, 28, 99]
})

print(df.head(3), '\n')
print(df.tail(2), '\n')
print(df.head(), '\n')
print(df.tail(-2), '\n')

   Name  Age
0   Ana   24
1   Bob   30
2  Nika   22

   Name  Age
4   Eva   28
5  Gela   99

    Name  Age
0    Ana   24
1    Bob   30
2   Nika   22
3  Davit   35
4    Eva   28

    Name  Age
2   Nika   22
3  Davit   35
4    Eva   28
5   Gela   99

In [75]:
"""
Task 5
Create a Series from [15, 22, 15, 30, 22, 45, 30, 15]. Find the unique values, count how many
unique values there are using nunique(), and display the frequency of each value using
value_counts().
"""

series = pd.Series([15, 22, 15, 30, 22, 45, 30, 15])
unique_values = series.nunique()
print(unique_values)
value_counts = series.value_counts()
print(value_counts)

4
15    3
22    2
30    2
45    1
Name: count, dtype: int64

In [76]:
""" 
Task 6
Create a DataFrame with columns 'Item' and 'Cost' containing at least 5 items. Add a new
column called 'Tax' that is 10% of the Cost. Add another column called 'Total' which is Cost plus
Tax. Then filter and display only the rows where Total is greater than 50.
"""

df = pd.DataFrame({
    'Item': ['item1', 'item2', 'item3', 'item4', 'item5'],
    'Cost': [100, 30, 45, 60, 20]
})

df['Tax'] = df['Cost']*0.1
df['Total'] = df['Cost']+df['Tax']

filtered_df = df[df['Total'] > 50]

print(filtered_df)

    Item  Cost   Tax  Total
0  item1   100  10.0  110.0
3  item4    60   6.0   66.0

In [77]:
""" 
Task 7
Create a DataFrame with columns 'Product', 'Category', 'Price', 'Stock' containing at least 8
products from different categories. Then perform the following operations:
• Use isnull() and notnull() to check for missing values
• Use value_counts() on the Category column to count products in each category
• Use nlargest() to find the top 3 most expensive products
• Use nsmallest() to find the 2 products with the lowest stock
• Display the shape and ndim of the DataFrame
"""

df = pd.DataFrame({
    'Product': ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8'],
    'Category': ['cat1', 'cat2', 'cat1', 'cat3', 'cat2', 'cat1', 'cat3', 'cat2'],
    'Price': [100, 200, 150, 300, 250, 400, 350, 50],
    'Stock': [10, 5, 15, 8, 20, 12, 3, 25]
})

print(df.isnull(), '\n')
print(df.notnull(), '\n')
print(df['Category'].value_counts(), '\n')
print(df.nlargest(3, 'Price'), '\n')
print(df.nsmallest(2, 'Stock'), '\n')
print(df.shape, '\n')
print(df.ndim, '\n')

   Product  Category  Price  Stock
0    False     False  False  False
1    False     False  False  False
2    False     False  False  False
3    False     False  False  False
4    False     False  False  False
5    False     False  False  False
6    False     False  False  False
7    False     False  False  False

   Product  Category  Price  Stock
0     True      True   True   True
1     True      True   True   True
2     True      True   True   True
3     True      True   True   True
4     True      True   True   True
5     True      True   True   True
6     True      True   True   True
7     True      True   True   True

Category
cat1    3
cat2    3
cat3    2
Name: count, dtype: int64

  Product Category  Price  Stock
5      p6     cat1    400     12
6      p7     cat3    350      3
3      p4     cat3    300      8

  Product Category  Price  Stock
6      p7     cat3    350      3
1      p2     cat2    200      5

(8, 4)

2

In [78]:
"""
Task 8
Create a DataFrame with columns 'Student', 'Subject', 'Score', 'Attendance' containing at least 10
students with some duplicate student names taking different subjects. Then perform the
following operations:
• Use duplicated() to identify duplicate student names
• Use drop_duplicates() to remove duplicate student names keeping the first occurrence
• Use set_index() to set Student as the index
• Use loc[] to retrieve data for a specific student
• Use iloc[] to retrieve the first 3 rows
• Use query() method to find students with Score greater than 80 and Attendance greater
than 85
• Use between() to find students with scores between 70 and 90
"""

df = pd.DataFrame({
    'Student': ['Ana', 'Bob', 'Charlie', 'Alice', 'Eve', 'Ia', 'Bob', 'Grace', 'Ana', 'Ia'],
    'Subject': ['Math', 'Biology', 'History', 'English', 'Math', 'Biology', 'History', 'English', 'Math', 'Biology'],
    'Score': [85, 90, 78, 88, 92, 67, 80, 95, 73, 89],
    'Attendance': [90, 85, 88, 92, 80, 75, 95, 87, 83, 91]
})

print(df[df.duplicated(subset=['Student'])], '\n')
df_no_duplicates = df.drop_duplicates(subset=['Student'], keep='first')
print(df_no_duplicates, '\n')
df_indexed = df.set_index('Student')
print(df_indexed.loc['Bob'], '\n')
print(df.iloc[:3])
filtered_df = df.query('Score > 80 and Attendance > 85')
print(filtered_df, '\n')
score_between = df[df['Score'].between(70, 90)]
print(score_between)

  Student  Subject  Score  Attendance
6     Bob  History     80          95
8     Ana     Math     73          83
9      Ia  Biology     89          91

   Student  Subject  Score  Attendance
0      Ana     Math     85          90
1      Bob  Biology     90          85
2  Charlie  History     78          88
3    Alice  English     88          92
4      Eve     Math     92          80
5       Ia  Biology     67          75
7    Grace  English     95          87

         Subject  Score  Attendance
Student
Bob      Biology     90          85
Bob      History     80          95

   Student  Subject  Score  Attendance
0      Ana     Math     85          90
1      Bob  Biology     90          85
2  Charlie  History     78          88
  Student  Subject  Score  Attendance
0     Ana     Math     85          90
3   Alice  English     88          92
7   Grace  English     95          87
9      Ia  Biology     89          91

   Student  Subject  Score  Attendance
0      Ana     Math     85          90
1      Bob  Biology     90          85
2  Charlie  History     78          88
3    Alice  English     88          92
6      Bob  History     80          95
8      Ana     Math     73          83
9       Ia  Biology     89          91