# Task 1

In [64]:
import numpy as np
import pandas as pd
from faker import Faker
import random

fake = Faker()

random.seed(42)
Faker.seed(42)  


cities = [fake.city() for _ in range(3)]
jobs = [fake.job() for _ in range(5)]
companies = [fake.company() for _ in range(4)]

df = pd.DataFrame({
    'city': [random.choice(cities) for _ in range(10000)],
    'job': [random.choice(jobs) for _ in range(10000)],
    'company': [random.choice(companies) for _ in range(10000)],
    'department': [random.choice(['Sales', 'HR', 'IT', 'Finance', 'Marketing']) for _ in range(10000)]
})

combo_counts = df.value_counts(sort = False) 
popular = combo_counts[combo_counts >= 10].reset_index(name='count')

print(popular)

                 city                      job      company department  count
0           East Jill  Chief Financial Officer  Hoffman Ltd    Finance     31
1           East Jill  Chief Financial Officer  Hoffman Ltd         HR     26
2           East Jill  Chief Financial Officer  Hoffman Ltd         IT     34
3           East Jill  Chief Financial Officer  Hoffman Ltd  Marketing     33
4           East Jill  Chief Financial Officer  Hoffman Ltd      Sales     40
..                ...                      ...          ...        ...    ...
295  North Judithbury             Town planner    Wolfe LLC    Finance     30
296  North Judithbury             Town planner    Wolfe LLC         HR     34
297  North Judithbury             Town planner    Wolfe LLC         IT     28
298  North Judithbury             Town planner    Wolfe LLC  Marketing     33
299  North Judithbury             Town planner    Wolfe LLC      Sales     38

[300 rows x 5 columns]

# Task 2

In [65]:
def maybe_missing(value, prob=0.5):
    """Return the value or np.nan with probability `prob`."""
    return value if random.random() > prob else np.nan

n = 1000

df = pd.DataFrame({
    'name': [maybe_missing(fake.name()) for _ in range(n)],
    'email': [maybe_missing(fake.email()) for _ in range(n)],
    'city': [maybe_missing(fake.city()) for _ in range(n)],
    'age': [maybe_missing(random.randint(18, 65)) for _ in range(n)],
    'department': [maybe_missing(random.choice(['IT', 'Sales', 'HR', 'Finance'])) for _ in range(n)]
})




missing_values = df.isna().sum(axis=0).reset_index(name='missing_count').sort_values(by='missing_count', ascending=False)

print(missing_values)
print('=='*20)
top_3_missing = missing_values.head(3)
print(top_3_missing)
index = top_3_missing['index'].tolist()
removed_nans = df.dropna(subset=index)
print('=='*20)
print(removed_nans)

        index  missing_count
1       email            546
3         age            516
4  department            503
2        city            498
0        name            496
========================================
        index  missing_count
1       email            546
3         age            516
4  department            503
========================================
              name                         email              city   age  \
7              NaN  hendersonvanessa@example.com               NaN  22.0
9              NaN            luis11@example.com               NaN  42.0
10             NaN           rarnold@example.net               NaN  39.0
17             NaN   christinebecker@example.com               NaN  64.0
25             NaN           xmalone@example.org  Port Cherylville  63.0
..             ...                           ...               ...   ...
937   James Reeves    carpenterjorge@example.net  East Stevenville  59.0
939   Erica Nelson     stewartalyssa@example.org      West Anthony  32.0
958            NaN           unguyen@example.net         West Erin  25.0
986            NaN           nturner@example.com         Maryville  54.0
992  Lori Castillo        hhenderson@example.org               NaN  50.0

    department
7      Finance
9      Finance
10          HR
17       Sales
25     Finance
..         ...
937         IT
939    Finance
958         IT
986    Finance
992    Finance

[101 rows x 5 columns]

# Task 3

In [66]:
n = 100_000  # number of rows

def maybe_missing(value, prob=0.1):
    """Return NaN with probability `prob`."""
    return value if random.random() > prob else np.nan

# some limited categories to make realistic repetition
departments = ['IT', 'Sales', 'HR', 'Finance', 'Marketing']
countries = ['USA', 'Germany', 'France', 'Japan', 'UK', 'Canada']

df = pd.DataFrame({
    'id': range(1, n + 1),  # integer id
    'name': [maybe_missing(fake.name(), 0.05) for _ in range(n)],  # string
    'email': [maybe_missing(fake.email(), 0.05) for _ in range(n)],  # string
    'country': [maybe_missing(random.choice(countries), 0.1) for _ in range(n)],  # categorical-like
    'department': [maybe_missing(random.choice(departments), 0.1) for _ in range(n)],
    'age': [maybe_missing(random.randint(18, 65), 0.05) for _ in range(n)],  # numeric int
    'salary': [maybe_missing(round(random.uniform(2000, 15000), 2), 0.05) for _ in range(n)],  # numeric float
    'is_remote': [random.choice([True, False]) for _ in range(n)],  # boolean
    'join_date': [maybe_missing(fake.date_between(start_date='-5y', end_date='today'), 0.05) for _ in range(n)]  # datetime
})

print(df.head())

   id             name                    email  country department   age  \
0   1  Angela Robinson      cindy12@example.org      USA         HR  56.0
1   2       Henry Cain   yschneider@example.net   Canada      Sales  35.0
2   3  Jenny Rasmussen  floresjoyce@example.com  Germany    Finance  34.0
3   4      Dean Turner     dillon46@example.org   Canada      Sales  42.0
4   5   Justin Shelton        trice@example.org       UK         HR  29.0

     salary  is_remote   join_date
0   3937.74      False  2022-12-30
1       NaN      False  2025-07-10
2  10272.36      False  2022-03-11
3  13400.24      False  2021-05-29
4   7081.08      False  2024-12-31

In [67]:
most_frequent_values_per_column = df.apply(lambda col: col.value_counts().idxmax())

print(most_frequent_values_per_column)

id                             1
name               Michael Smith
email         ksmith@example.com
country                   France
department                    HR
age                         65.0
salary                   3578.31
is_remote                  False
join_date             2024-07-23
dtype: object

# Task 4

In [68]:
n = 10_000  # number of rows

def maybe_missing(value, prob=0.05):
    """Return np.nan with probability `prob`."""
    return value if random.random() > prob else np.nan

# Create DataFrame
df_hours = pd.DataFrame({
    'Employee ID': [random.randint(1, 50) for _ in range(n)],  # 50 employees
    'Date': [maybe_missing(fake.date_between(start_date='-2y', end_date='today')) for _ in range(n)],
    'Hours Worked': [maybe_missing(round(random.uniform(6, 10), 1)) for _ in range(n)]
})

df_hours.sort_values(by=['Employee ID', 'Date'], inplace=True)
print(df_hours.head(100))

      Employee ID        Date  Hours Worked
4911            1  2023-11-06           9.4
8181            1  2023-11-07           9.0
2394            1  2023-11-16           NaN
8942            1  2023-11-16           8.7
6594            1  2023-11-28           6.4
...           ...         ...           ...
320             1  2024-11-21           6.9
9819            1  2024-11-24           6.3
4140            1  2024-11-29           7.2
7400            1  2024-12-01           8.3
8523            1  2024-12-03           6.1

[100 rows x 3 columns]

In [78]:
df_hours["Date"]  = pd.to_datetime(df_hours["Date"], errors='coerce')

df_hours.dropna(subset=["Date"], inplace=True)

worked_mask = df_hours['Hours Worked'].notna() & (df_hours['Hours Worked'] > 0)
df_hours = df_hours[worked_mask]
print(df_hours)

df_hours = df_hours.drop_duplicates(subset=['Employee ID', 'Date'])
print(df_hours)

df_hours['prev_date'] = df_hours.groupby('Employee ID')['Date'].shift(1)
df_hours['gap_days'] = (df_hours['Date'] - df_hours['prev_date']).dt.days

df_hours['new_streak'] = (df_hours['gap_days'] != 1)  # True when streak breaks or first record
df_hours['streak_id'] = df_hours.groupby('Employee ID')['new_streak'].cumsum()

streaks = (
    df_hours.groupby(['Employee ID', 'streak_id'], as_index=False)
      .agg(start_date=('Date', 'min'),
           end_date=('Date', 'max'),
           days_worked=('Date', 'count'))
)

long_streaks = streaks[streaks['days_worked'] >= 5]

employees_with_5plus = long_streaks['Employee ID'].unique()

print("Employees with >=5 consecutive days:", employees_with_5plus)
print("\nExample streaks (Employee ID, start, end, length):")
print(long_streaks.sort_values(['Employee ID', 'start_date']).head(20))

      Employee ID       Date  Hours Worked
4911            1 2023-11-06           9.4
8181            1 2023-11-07           9.0
8942            1 2023-11-16           8.7
6594            1 2023-11-28           6.4
3254            1 2023-12-03           9.6
...           ...        ...           ...
9441           50 2025-09-27           9.4
8423           50 2025-10-06          10.0
5709           50 2025-10-21           8.7
2761           50 2025-10-22           6.4
3885           50 2025-10-25           8.7

[7993 rows x 3 columns]
      Employee ID       Date  Hours Worked
4911            1 2023-11-06           9.4
8181            1 2023-11-07           9.0
8942            1 2023-11-16           8.7
6594            1 2023-11-28           6.4
3254            1 2023-12-03           9.6
...           ...        ...           ...
9441           50 2025-09-27           9.4
8423           50 2025-10-06          10.0
5709           50 2025-10-21           8.7
2761           50 2025-10-22           6.4
3885           50 2025-10-25           8.7

[7993 rows x 3 columns]
Employees with >=5 consecutive days: [ 2  8 15 16 21 24 29 33 39 47 49]

Example streaks (Employee ID, start, end, length):
      Employee ID  streak_id start_date   end_date  days_worked
161             2         29 2024-05-09 2024-05-14            6
953             8         74 2025-01-13 2025-01-18            6
1815           15         72 2024-12-30 2025-01-03            5
1880           16         17 2024-02-13 2024-02-18            6
1899           16         36 2024-05-27 2024-06-01            6
2515           21         33 2024-05-27 2024-05-31            5
2595           21        113 2025-10-08 2025-10-12            5
2868           24         10 2023-12-18 2023-12-22            5
3492           29          7 2023-12-14 2023-12-18            5
4043           33         61 2024-10-11 2024-10-15            5
4818           39        102 2025-07-13 2025-07-17            5
5727           47         24 2024-02-23 2024-02-27            5
6071           49        111 2025-06-12 2025-06-16            5

# Task 5

In [79]:
dates = pd.date_range(start="2023-01-01", end="2024-12-31", freq="D")

# Create daily sales data
df = pd.DataFrame({
    "Date": dates,
    "Sales": [round(random.uniform(1000, 5000), 2) for _ in range(len(dates))],
    "Region": [random.choice(["East", "West", "North", "South"]) for _ in range(len(dates))],
    "Store": [fake.company() for _ in range(len(dates))]
})

# Make Date the index
df.set_index("Date", inplace=True)

In [105]:
monthly_data = df.resample('ME').sum()




q1_sales = monthly_data[monthly_data.index.month.isin([1, 2, 3])]


q1_sums = q1_sales.groupby([q1_sales.index.year, q1_sales.index.month]).sum()
q1_sums.index.names = ["Year", "Month"]
print("\nQ1 sums per month per year:")
print(q1_sums)

Q1 sums per month per year:
                Sales                                             Region  \
Year Month
2023 1      100570.00  SouthSouthNorthSouthNorthEastSouthSouthNorthSo...
     2       90499.07  NorthWestWestNorthNorthWestEastWestEastSouthSo...
     3       88455.02  NorthWestSouthWestSouthSouthWestEastSouthEastW...
2024 1       92333.08  WestEastNorthWestEastSouthEastSouthWestEastSou...
     2       89962.54  SouthSouthNorthWestEastEastWestSouthNorthEastN...
     3       90695.93  SouthEastSouthEastNorthSouthNorthSouthNorthSou...

                                                        Store
Year Month
2023 1      Booker IncMedina, Baker and ArnoldPayne, Matth...
     2      Camacho-WalkerWatkins-MartinezManning, Nelson ...
     3      Moore, Brown and LoveHowell GroupHunter, Henry...
2024 1      Cruz-WilliamsPoole-ClarkLong, Fowler and Bolto...
     2      Smith, Lucas and PerezLewis, Smith and CooperB...
     3      Thompson-WrightWilliams IncClark GroupDoyle an...

# Task 6

In [107]:
n = 10000

df_sales = pd.DataFrame({
    'Transaction ID': range(1, n+1),
    'Customer': [fake.name() for _ in range(n)],
    'Value': [round(random.uniform(10, 5000), 2) for _ in range(n)],
    'Date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(n)]
})

print("Sample transactions:")
print(df_sales.head())

Sample transactions:
   Transaction ID                   Customer    Value        Date
0               1             Angela Johnson   402.62  2025-07-25
1               2             Jillian Martin  2661.88  2025-04-18
2               3            Mark Sanders MD  4961.40  2025-05-14
3               4                Edwin Allen  1230.38  2025-01-05
4               5  Mr. Christopher Daugherty  3507.66  2025-06-01

In [111]:
threshold = df_sales['Value'].quantile(0.95)  
df_filtered = df_sales[df_sales['Value'] <= threshold]

print(f"\nOriginal rows: {len(df_sales)}, After filtering: {len(df_filtered)}")

print("Filtered transactions:")
print(df_filtered.sort_values(by='Value', ascending=False).head())

Original rows: 10000, After filtering: 9500
Filtered transactions:
      Transaction ID              Customer    Value        Date
470              471         Glenn Mcclure  4718.93  2025-06-09
5763            5764         Jason Johnson  4718.85  2025-09-25
8550            8551     Amanda Obrien DDS  4718.84  2024-12-06
2520            2521  Dr. Katie Thomas DDS  4718.31  2024-12-12
7718            7719        Sheryl Vaughan  4718.23  2025-09-15

# Task 7

In [120]:
n = 365
dates = sorted(fake.date_between(start_date='-1y', end_date='today') for _ in range(n))

values = [round(random.uniform(10, 100), 2) if random.random() > 0.1 else np.nan for _ in range(n)]

df = pd.DataFrame({
    'Date': dates,
    'Measurement': values
})

df.set_index('Date', inplace=True)
df.sort_index(inplace=True)  

print(df.head(10))

            Measurement
Date
2024-11-01        20.40
2024-11-02        25.10
2024-11-04        84.98
2024-11-05        81.85
2024-11-05          NaN
2024-11-06        84.24
2024-11-06        46.47
2024-11-06        30.68
2024-11-06        49.37
2024-11-07        81.37

In [121]:
# Make sure the index is datetime
df.index = pd.to_datetime(df.index)

# Now calculate the rolling mean
df['7d_moving_avg'] = df['Measurement'].rolling('7D', min_periods=1).mean()

print(df.head(15))

            Measurement  7d_moving_avg
Date
2024-11-01        20.40      20.400000
2024-11-02        25.10      22.750000
2024-11-04        84.98      43.493333
2024-11-05        81.85      53.082500
2024-11-05          NaN      53.082500
2024-11-06        84.24      59.314000
2024-11-06        46.47      57.173333
2024-11-06        30.68      53.388571
2024-11-06        49.37      52.886250
2024-11-07        81.37      56.051111
2024-11-08        71.37      61.714444
2024-11-09        72.17      66.944444
2024-11-09          NaN      66.944444
2024-11-10          NaN      66.944444
2024-11-11        28.00      60.613333

# Task 8

In [123]:
n = 100

df = pd.DataFrame({
    'Transaction ID': range(1, n+1),
    'Amount': [round(random.uniform(50, 500), 2) for _ in range(n)],
    'Date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(n)]
})

df.sort_values('Date', inplace=True)  # sort by date
df.reset_index(drop=True, inplace=True)

print("Sample transactions:")
print(df.head())

Sample transactions:
   Transaction ID  Amount        Date
0               3  219.06  2024-11-03
1              16  299.95  2024-11-05
2              37  133.17  2024-11-13
3              66  299.37  2024-11-16
4              28  197.63  2024-11-18

In [128]:
df['cumsum'] = df['Amount'].cumsum()
threshold = 5000
first_exceed_idx = df[df['cumsum'] > threshold].index.min()
first_exceed_row = df.loc[first_exceed_idx]

print("First transaction exceeding cumulative threshold:")
print(first_exceed_row)
print("=="*20)
print(df)

First transaction exceeding cumulative threshold:
Transaction ID            41
Amount                499.11
Date              2025-02-10
cumsum               5167.12
Name: 19, dtype: object
========================================
    Transaction ID  Amount        Date    cumsum
0                3  219.06  2024-11-03    219.06
1               16  299.95  2024-11-05    519.01
2               37  133.17  2024-11-13    652.18
3               66  299.37  2024-11-16    951.55
4               28  197.63  2024-11-18   1149.18
..             ...     ...         ...       ...
95              24  362.39  2025-10-15  25020.54
96              79  317.52  2025-10-20  25338.06
97              95  233.90  2025-10-24  25571.96
98              87  183.40  2025-10-28  25755.36
99              11  325.88  2025-10-29  26081.24

[100 rows x 4 columns]

# Task 9

In [141]:
n = 200 

categories = ['Electronics', 'Clothing', 'Toys', 'Books']

df = pd.DataFrame({
    'Category': [random.choice(categories) for _ in range(n)],
    'Value': [round(random.uniform(10, 500), 2) for _ in range(n)],
    'Item': [fake.word().capitalize() for _ in range(n)]
})

print("Sample DataFrame:")
print(df)

Sample DataFrame:
        Category   Value      Item
0       Clothing  464.49  Director
1       Clothing  288.60      Hair
2          Books  310.45       Gun
3           Toys   52.65    Rather
4          Books  352.70       Out
..           ...     ...       ...
195         Toys  224.44   Culture
196  Electronics  100.64      They
197  Electronics  288.53     Think
198        Books  336.73      From
199         Toys  401.90      West

[200 rows x 3 columns]

In [142]:
# Option 2: using idxmax (one row per category)
idx = df.groupby('Category')['Value'].idxmax()
result = df.loc[idx]

print(result)

        Category   Value      Item
70         Books  496.60   Student
126     Clothing  498.59     Human
71   Electronics  491.91  Audience
74          Toys  496.79      Find

# Task 10

In [143]:
n = 100

df = pd.DataFrame({
    'Transaction ID': range(1, n+1),
    'Customer': [fake.name() for _ in range(n)],
    'Details': [{'city': fake.city(), 'age': random.randint(18, 70)} for _ in range(n)],
    'Purchase': [round(random.uniform(10, 1000), 2) for _ in range(n)]
})

print("Original DataFrame:")
print(df)

Original DataFrame:
    Transaction ID         Customer  \
0                1      Rachel Chan
1                2  Hunter Marshall
2                3    Samuel Barker
3                4    Connor Flores
4                5    Carolyn Hodge
..             ...              ...
95              96   Carmen Pacheco
96              97      Steven Ford
97              98   Joshua Hubbard
98              99     Regina Jones
99             100      Monica Snow

                                        Details  Purchase
0             {'city': 'Julianside', 'age': 48}    751.00
1             {'city': 'Tracyshire', 'age': 54}    233.51
2   {'city': 'Lake Christopherland', 'age': 58}    777.05
3             {'city': 'Bakermouth', 'age': 33}    120.94
4        {'city': 'South Malikfort', 'age': 59}    326.68
..                                          ...       ...
95           {'city': 'Garciashire', 'age': 51}    845.73
96              {'city': 'Cookberg', 'age': 52}    277.81
97        {'city': 'Johnsonchester', 'age': 54}     78.59
98          {'city': 'Wellsborough', 'age': 18}    463.30
99        {'city': 'Douglaschester', 'age': 66}     78.94

[100 rows x 4 columns]

In [144]:
details_flat = pd.json_normalize(df['Details'])
details_flat.columns = [f"Details_{col}" for col in details_flat.columns]

df_flattened = pd.concat([df.drop(columns=['Details']), details_flat], axis=1)

print("\nFlattened DataFrame:")
print(df_flattened)

Flattened DataFrame:
    Transaction ID         Customer  Purchase          Details_city  \
0                1      Rachel Chan    751.00            Julianside
1                2  Hunter Marshall    233.51            Tracyshire
2                3    Samuel Barker    777.05  Lake Christopherland
3                4    Connor Flores    120.94            Bakermouth
4                5    Carolyn Hodge    326.68       South Malikfort
..             ...              ...       ...                   ...
95              96   Carmen Pacheco    845.73           Garciashire
96              97      Steven Ford    277.81              Cookberg
97              98   Joshua Hubbard     78.59        Johnsonchester
98              99     Regina Jones    463.30          Wellsborough
99             100      Monica Snow     78.94        Douglaschester

    Details_age
0            48
1            54
2            58
3            33
4            59
..          ...
95           51
96           52
97           54
98           18
99           66

[100 rows x 5 columns]