# Task 1

In [3]:
import pandas as pd

nums = [10,20,30,40,50]
labels = ['a','b','c','d','e']

sr = pd.Series(nums, index=labels)

print(sr)

a    10
b    20
c    30
d    40
e    50
dtype: int64

# Task 2

In [4]:
sr = pd.Series([100,200,300,400,500], index=[1,2,3,4,5])

print(sr[2])

200

# Task 3

In [5]:
sr1 = pd.Series([5,10,15,20], index=['w','x','y','z'])
sr2 = pd.Series([2,4,6,8], index=['w','x','y','p'])

sub = sr1.subtract(sr2, fill_value=0)
add = sr1.add(sr2, fill_value=0)
mult = sr1.multiply(sr2, fill_value=1)
divide = sr1.div(sr2, fill_value=1)

print(f"\n subtraction: {sub} \n addition: {add}\n multiplication: {mult}\n divison: {divide}")

 subtraction: p    -8.0
w     3.0
x     6.0
y     9.0
z    20.0
dtype: float64
 addition: p     8.0
w     7.0
x    14.0
y    21.0
z    20.0
dtype: float64
 multiplication: p     8.0
w    10.0
x    40.0
y    90.0
z    20.0
dtype: float64
 divison: p     0.125
w     2.500
x     2.500
y     2.500
z    20.000
dtype: float64

# Task 4

In [6]:
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, (5,5)))

print(df.head(3))
print(df.tail(2))
print(df)
print(df.head(-3))
print(df.tail(-2))

    0   1   2   3   4
0  46  15  26  14  81
1  79  87  71  57  52
2  98  11  46  69  31
    0   1   2   3   4
3  36  36  71  95  12
4  42  19  57  35  48
    0   1   2   3   4
0  46  15  26  14  81
1  79  87  71  57  52
2  98  11  46  69  31
3  36  36  71  95  12
4  42  19  57  35  48
    0   1   2   3   4
0  46  15  26  14  81
1  79  87  71  57  52
    0   1   2   3   4
2  98  11  46  69  31
3  36  36  71  95  12
4  42  19  57  35  48

# Task 5

In [7]:
sr = pd.Series([15,22,15,30,22,45,30,15])

unique_values = sr.unique()
number_of_unique_values = sr.nunique()

frequency = pd.value_counts(sr)

print(f'unique values: {unique_values}\n')
print(f"number of inique values: {number_of_unique_values}\n")
print(f"frequency: {frequency}")

unique values: [15 22 30 45]

number of inique values: 4

frequency: 15    3
22    2
30    2
45    1
Name: count, dtype: int64

/var/folders/1f/04bpzbbn7jgbqp9vr5pqv5y00000gn/T/ipykernel_51880/102507579.py:6: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  frequency = pd.value_counts(sr)

# Task 6

In [23]:
from faker import Faker

fake = Faker()
import random

random.seed(42)


categories = ['Electronics', 'Clothing', 'Home', 'Beauty', 'Sports']
products = ['Phone', 'Laptop', 'Shoes', 'Chair', 'Watch', 'Camera']

df = pd.DataFrame([
    {
        "product": f"{fake.color_name()} {random.choice(products)}",
        "category": random.choice(categories),
        "price": np.random.randint(100, 1000),
        "stock": np.random.randint(1, 10)
    }
    for _ in range(8)
])

print(df)

df.isnull()
df.notnull()
df["category"].value_counts()
df['price'].nlargest(3)
df['price'].nsmallest(2)

print(f"dimension: {df.ndim}")
print(f"shape of the data frame: {df.shape}")

                   product     category  price  stock
0         SlateBlue Camera  Electronics    660      5
1             Purple Phone         Home    565      3
2             Khaki Laptop     Clothing    852      6
3         Gainsboro Laptop  Electronics    250      5
4  MediumAquaMarine Camera       Sports    336      5
5   MediumAquaMarine Phone       Sports    374      9
6        NavajoWhite Chair  Electronics    965      7
7         SandyBrown Phone  Electronics    442      7
dimension: 2
shape of the data frame: (8, 4)

# Task 8

In [42]:
student_pool = [fake.name() for _ in range(4)]  
subjects = ['Math', 'Physics', 'Chemistry', 'Biology', 'History', 'English']

df = pd.DataFrame(
    [
        {
            "student": random.choice(student_pool),  
            "subject": random.choice(subjects),
            "score": np.random.randint(51, 100),
            "attendance": np.random.randint(51, 100)
        }
        for _ in range(12)
    ]
)

print("Original DataFrame:")
print(df, "\n")

duplicate_names = df['student'].duplicated()
print("Duplicated flags:")
print(duplicate_names, "\n")

df_unique = df.drop_duplicates(subset='student')
print("After removing duplicates:")
print(df_unique, "\n")

df.set_index('student', inplace=True)


name = df.index[0]  
print(f"Data for {name}:")
print(df.loc[name])

print(df.iloc[:3,:])

df.query("score > 80 and attendance > 85")

df[df["score"].between(70, 90)]

Original DataFrame:
            student    subject  score  attendance
0      Jason Garcia  Chemistry     94          78
1   Peter Henderson    History     80          79
2         Kyle Gray    Physics     96          56
3         Kyle Gray    Physics     85          91
4   Peter Henderson       Math     87          74
5         Kyle Gray    English     79          99
6      Gary Johnson    Biology     96          81
7         Kyle Gray  Chemistry     85          83
8         Kyle Gray    English     71          82
9      Jason Garcia    Biology     73          83
10     Jason Garcia    Biology     53          68
11        Kyle Gray    Physics     75          92

Duplicated flags:
0     False
1     False
2     False
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11     True
Name: student, dtype: bool

After removing duplicates:
           student    subject  score  attendance
0     Jason Garcia  Chemistry     94          78
1  Peter Henderson    History     80          79
2        Kyle Gray    Physics     96          56
6     Gary Johnson    Biology     96          81

Data for Jason Garcia:
                subject  score  attendance
student
Jason Garcia  Chemistry     94          78
Jason Garcia    Biology     73          83
Jason Garcia    Biology     53          68
                   subject  score  attendance
student
Jason Garcia     Chemistry     94          78
Peter Henderson    History     80          79
Kyle Gray          Physics     96          56

                   subject  score  attendance
student
Peter Henderson    History     80          79
Kyle Gray          Physics     85          91
Peter Henderson       Math     87          74
Kyle Gray          English     79          99
Kyle Gray        Chemistry     85          83
Kyle Gray          English     71          82
Jason Garcia       Biology     73          83
Kyle Gray          Physics     75          92