In [2]:
import pandas as pd
import numpy as np
data = np.array(["p", "a", "n", "d", "a", "s"])

ser = pd.Series(data)
print(ser)

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [3]:
list = ['p', 'a', 'n', 'd', 'a', 's']
ser = pd.Series(list)
print(ser)

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [5]:
data = np.array(['k', 'u', 'n','g', 'f', 'u',' ', 'p', 'a', 'n', 'd', 'a'])

ser = pd.Series(data)

print(ser[-6:])

6
7     p
8     a
9     n
10    d
11    a
dtype: object

In [9]:
data = np.array(['p', 'a', 'n', 'd', 'a', 's'])
ser = pd.Series(data, index=["a", "b", "c", "e", "e", "f"])
print(ser["a"])
print(ser)

p
a    p
b    a
c    n
e    d
e    a
f    s
dtype: object

In [17]:
df = pd.read_csv("orders.csv")

ser = pd.Series(df["OrderID"])
data = ser.head(10)
print(data)

print(data[3:5])
selected_data = data.loc[3:5]
print("kys \n", selected_data)
using_iloca = data.iloc[3:6]
print("using iloc \n", using_iloca)

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010
Name: OrderID, dtype: int64
3    1004
4    1005
Name: OrderID, dtype: int64
kys
 3    1004
4    1005
5    1006
Name: OrderID, dtype: int64
using iloc
 3    1004
4    1005
5    1006
Name: OrderID, dtype: int64

In [24]:
data = pd.Series([5, 2, 3, 0], index=['a', 'b', 'c', 'd'])

data1 = pd.Series([1,6,4,9], index = ['a', 'b','d','e'])
print(data, "\n\n", data1)


result_add = data.add(data1, fill_value=0)
print("Addition \n", result_add)

result_sub = data.sub(data1, fill_value=0)
print("Subtraction \n", result_sub)

result_mul = data.mul(data1)
result_mul = result_mul.dropna()
print("Multiplication \n", result_mul)

result_div = data.div(data1)
result_div = result_div.dropna()
print("Division \n", result_div)

a    5
b    2
c    3
d    0
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64
Addition
 a    6.0
b    8.0
c    3.0
d    4.0
e    9.0
dtype: float64
Subtraction
 a    4.0
b   -4.0
c    3.0
d   -4.0
e   -9.0
dtype: float64
Multiplication
 a     5.0
b    12.0
d     0.0
dtype: float64
Division
 a    5.000000
b    0.333333
d    0.000000
dtype: float64

In [27]:
data = pd.read_csv("orders.csv")
data.dropna(inplace=True)

data_before = data.dtypes

data["Product"] = data["Product"].astype("string")
data["Price"] = data["Price"].astype("int")

after = data.dtypes
print("Before conversion \n", data_before)
print("After conversion \n", after)

Before conversion
 OrderID           int64
CustomerName     object
Product          object
Category         object
Quantity          int64
Price           float64
OrderDate        object
Shipped          object
Country          object
dtype: object
After conversion
 OrderID                  int64
CustomerName            object
Product         string[python]
Category                object
Quantity                 int64
Price                    int64
OrderDate               object
Shipped                 object
Country                 object
dtype: object

In [28]:
data = pd.read_csv("orders.csv")

data.dropna(inplace=True)

dtypes_before = type(data["Price"])

price_list = data["Price"].tolist()

print("Data type before conversion: ", dtypes_before)
print("Price list: ", price_list)

Data type before conversion:  <class 'pandas.core.series.Series'>
Price list:  [1200.0, 150.0, 300.0, 45.0, 80.0, 5.0, 450.0, 220.0, 1.5, 35.0, 85.0, 180.0, 12.0, 25.0, 280.0, 8.0, 45.0, 65.0, 15.0, 120.0, 3.5, 95.0, 35.0, 4.0, 28.0, 75.0, 22.0, 2.5, 110.0, 18.0, 32.0, 140.0, 42.0, 0.8, 55.0, 68.0, 125.0, 28.0, 18.0]